.container {
  text-align: center;
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.img-trigger-box {
  color: #42b983;
  cursor: pointer;
  width: 32.5rem;
  height: 15rem;
  margin: 4rem 0 2rem 0;
  border: 1px solid #42b983;
}
input {
  display: none;
}
.drag-over {
  outline: 2px dashed #ccc;
  outline-offset: 4px;
}
textarea {
  padding: 12px;
  text-align: justify;
}
.text-list {
  text-align: left;
  list-style: none;
  margin-left: 8rem;
  resize: vertical;
}
textarea {
  padding: 12px;
  text-align: justify;
}
